.user-form {
  width: 400px;
  margin: 30px 0;
  
  .error {
    color: red;
    font-size: 12px;
  }

  .btn-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
}